body {
    background: url("https://raw.githubusercontent.com/DevEnvolvente0190/TelaLogin-Netflix/cc0dd8452ddaaf1cfa229ff8146e5b2b49d7edca/img/background.jpg") center center fixed;
    backdrop-filter: blur(2px);
    font-family: 'Roboto', sans-serif;
}

.loginPage {
    background-color: black;
    border-radius: 15px;
    width: 250px;
    padding: 15px;

    & h3 {
        color: red;
        text-align: center;
    }

    & input {
        margin: 5px;
        width: 180px;
        height: 25px;
        border: none;
        border-radius: 4px;
        background-color: white;
        color: black;
    }
}