* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vh;
    background: url("https://raw.githubusercontent.com/kauasanches/streaming-site/refs/heads/main/img/background.png") center top;
    background-image: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

body:before {
    content: '';
    background-color: rgb(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.titulo-pagina-login {
    color: red;
    z-index: 100;
    position: absolute;
    margin: 15px;
    text-shadow: red 0px 0 10px;
}

.container {
    padding: 30px;
    z-index: 90;
    position: relative;
    max-width: 400px;
    height: 400px;
    margin-left: 50%;
    background-color: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    transform: translate(60%, 30%);
    border-radius: 10px;
    box-shadow: rgb(100, 100, 100) 0px 0px 15px;
}

.container h2 {
    color: #fff;
    font-size: 34px;
    margin-bottom: 25px;
}

.container .loginForm {
    display: flex;
    flex-direction: column;
}

.container .loginForm input {
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    outline: none;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    box-shadow: black 0px 0px 10px;
}

.container .loginForm input:hover {
    background-color: #444;
    transition: background-color 0.2s ease-in-out;

}

.container .loginForm input:focus {
    background-color: #444;
}

.container .loginForm #btnLogin {
    height: 40px;
    width: 100%;
    background-color: #e50914;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.container .loginForm #btnLogin:hover {
    cursor: pointer;
    background-color: #af0710;
    transform: scale(1.04);
    transition: all 0.2s ease;
}